@import url(http://fonts.googleapis.com/css?family=Oxygen:400,300);

body {
  font-family: 'Oxygen', cursive;
  font-weight: 300;
  margin: 40px 60px;
}

body > div.search {
  position: fixed;
  top: 40px;
  right: 60px;
}

body > div.search > input {
  outline: none;
  padding: 10px;
  width: 200px;
  font-family: 'Oxygen', cursive;
  font-weight: 300;
  font-size: 140%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

body > h1 {
  margin-bottom: 30px;
  font-weight: 300;x
}

body > ul {
  list-style-type: square;
}

body > ul > li {
  margin: 20px 0;
}

body > ul > li > a {
  font-size: 130%;
  color: black;
  text-decoration: none;
  margin: 60px 0;
}

body > ul > li > a > span {
  color: rgb(255, 137, 55);
}

body > ul > li > a > i {
  color: rgba(0, 0, 0, 0.35);
}

body > div.link {
  margin: 45px 0;
}

body > div.link > button {
  display: none;
  text-decoration: none;
  color: white;
  background: rgb(255, 137, 55);
  padding: 7px 10px;
  border-radius: 2px;
  letter-spacing: 1px;
  border: none;
  font-family: 'Oxygen', cursive;
  font-weight: 300;
  font-size: 100%;
  outline: none;
  cursor: pointer;
}